@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
}

.header {
    height: 95vh;
    background-image:linear-gradient(to bottom right, #a75d258a, #4d3c1f6c)
    , url('../img/pexels-pixabay-33109.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0 100%);
    position: relative;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box h1 {
    text-transform: uppercase;
    color: rgb(197, 187, 187);
}

.heading-main {
    display: block;
    font-size: 5rem;
    left: 1.5rem;
    animation-name: moveInLeft;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInLeft {
    0% {transform: translate(-1000px); opacity: 0;}
    80% {transform: translateX(30px);}
    100% {transform: translateX(0); opacity: 1;}
}

.heading-sub {
    display: block;
    font-size: 2rem;
    left: 1.5rem;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

@keyframes moveInRight {
    0% {transform: translate(1000px); opacity: 0;}
    80% {transform: translateX(-30px);}
    100% {transform: translateX(0); opacity: 1;}
}

.btn-container {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn {
    display: block;
    text-decoration: none;
    color: rgb(197, 187, 187);
    font-size: 1.5rem;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}

@keyframes fadeIn {
    0% {transform: translateY(500px); opacity: 0; font-size: 0rem;}
    100% {transform: translateY(0); opacity: 1; font-size: 1.5rem;}
}